<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jack Hsu</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<ul>
					<li><a href="error.html">Home</a></li>
					<li><a href="error.html">Profile</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<div class='section-left'>
				<div style = "margin-top:10%;">
					<div class='profileData1'>
						<h3 style = "text-align: center;"><a href="http://facebook.com/jackhsujungtse">Jack Hsu</a></h3>
					</div>
					<div class='profilePic' style = "text-align: center;">
						<img src="https://raw.githubusercontent.com/jackhsujungtse/MERN-HW/master/HW5/mywebsite-test/pictures/profile1.jpg" height="150px"/>
					</div>
					<div class='profileData2'>
						<h3><a href="https://github.com/jackhsujungtse">About Me</a></h3>
						<h3><a href="error.html">Experience</a></h3>
						<h3><a href="error.html">Work</a></h3>
					</div>
				</div>
			</div>
			<div class='section-mid'>
				<div class ='post'>
					
				</div>
			</div>
			<div class='section-right'>

			</div>
		</section>
		<footer></footer>
	</div>
<script type="text/javascript" src= "frontpage.js"></script>
</body>
</html>