.wrapper{
	background-color: #CCEEFF;
}
header {
	background-color: #05B7E8;
	height: 50px;
	width: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
	position: fixed;
}
nav {
	margin-left: 70%;
}
nav a{
	color: white;
	padding-top: 0px;
	padding-right: 15px;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
}
nav li{
		display: inline-block;
}
section{
	padding-top: 60px;
	height: 1000px;
	width: 100%;
	margin-bottom: 10px;
}
.section-left{
	background-color: #F7FFFF;
	height: 1000px;
	margin-left: 9%;
	margin-right: 1%;
	width: 20%;
	float: left;
}
.profileData1{
	/*margin-top: -170px;*/
	/*padding-left: 55%;*/
	color: black;
	display: block;
	text-transform: uppercase;
	}
.profileData1 a {
	text-decoration: none;
}
.profileData2 {
	/*margin-top: 180px;*/
	margin-left: 10%;
	text-transform: uppercase;
}
.profileData2 a{
	text-decoration: none;
}
.profilePic{
	height: 150px;
}
.section-mid{
	height: 1000px;
	width: 40%;
	float: left;
}
.post{
	height: 1000px;
	background-color: white;
}
.post h3{
	display: block;
	color: black;
	padding-left: 90%;
	padding-top: 170px;
}
.section-right {
	height: 1000px;
	width: 20%;
	background-color: #F7FFFF;
	margin-left: 1%;
	float: left;
}
footer {
	clear: both;
	background-color: black;
	height: 100px;
	width: 100%;
}